/* Reset CSS */

/* Selector universal para aplicar estilos a todos los elementos */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Aplicar un estilo minimo al cuerpo del documento */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; /* Establecer una fuente generica para el cuerpo */
}

/* Corregir estilos para los elementos de lista */

ul,
ol {
  list-style: none;
}

/* Establecer estilos basicos para los elementos de texto */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* EStablecer estilos basicos para los enlaces */

a {
  text-decoration: none; /* elimina la subrayado predeterminado de los enlaces */
  color: inherit; /* heredar el texto del elemento padre */
}
