:root {
  --primario: #9c27b0;
  --primarioOscuro: #89119d;
  --secundario: #ffce00;
  --secundarioOscuro: rgb(233, 287, 2);
  --blanco: #fff;
  --negro: #000;

  --fuenteprincipal: "Staatliches", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/** Globales  **/

body {
  background-color: var(--primario);
  font-size: 1.6rem;
  line-height: 1.5;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--blanco);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--secundario);
  font-family: var(--fuenteprincipal);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

/** Header **/

.header {
  display: flex;
  justify-content: center;
}

.header__logo {
  margin: 3rem 0;
}

/** Navegacion **/

.navegacion {
  background-color: var(--primarioOscuro);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.navegacion__enlaces {
  font-family: var(--fuenteprincipal);
  color: var(--blanco);
  font-size: 3rem;
}

.navegacion__enlaces:hover,
.navegacion__enlaces--activo {
  color: var(--secundario);
}

.footer {
  background-color: var(--primarioOscuro);
  padding: 1rem 0;
  margin: 2rem;
}

.footer__texto {
  text-align: center;
  font-family: var(--fuenteprincipal);
  font-size: 2.2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1%);
  }
}

/** Producto **/

.producto {
  background-color: var(--primarioOscuro);
  padding: 1rem;
}

.producto__imagen {
  width: 100%;
}

.producto__nombre {
  font-size: 4rem;
}

/** Nosotros **/

.nosotros {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

@media (max-width: 768px) {
  .nosotros {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .nosotros__imagen {
    grid-column: 2 / 3;
    width: 100%;
  }
}

.nosotros__imagen {
  grid-row: 1 / 2;
}
